.hide {
  display: none !important;
}

.Header {
  position: fixed;
  width: 100%;
  background-color: bisque;
  display: flex;
  z-index: 2;
}

.Header img {
  width: 70%;
}

.Icon {
  width: 8em;
  margin-left: 2em;
}

.Tabs-header {
  display: flex;
  font-size: 2em;
}

.Header-content {
  display: flex;
  padding: 0.5em;
  align-items: center;
  font-family: monospace;
  width: 100%;
  justify-content: space-between;
}

.Tab-header {
  margin-right: 3em;
  border-right: 3px solid black;
  padding-right: 4em;
}

.Tab-header a {
  text-decoration: none;
  color: cadetblue;
}

.Family {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.FamilyBlock {
  display: flex;
  justify-content: center;
}

.Wrapper {
  padding-top: 4em;
  background-color: lightskyblue;
}

.FamilyBlock {
  padding-top: 5em;
}

.FamilyIMG img {
  width: 700px;
}

.TabsPanel {
  margin-left: 14.5em;
  background-color: white;
  border: 3px solid black;
  border-radius: 3%;
  text-align: center;
  width: 250px;
}

.Tab {
  height: 33.45%;
  align-items: center;
  border-left: none;
  border-right: none;
  border-radius: 3%;
}

.Tab :hover {
  background-color: darkkhaki;
  cursor: pointer;
}

.Tab p {
  padding-top: 78px;
  padding-bottom: 78px;
  font-size: 2em;
}

.FavoriteEat {
  text-align: center;
  align-items: center;
  font-size: 5em;
  padding-top: 0.3em;
  padding-bottom: 0.8em;
}

.FoodCards {
  justify-content: center;
}

.FoodCards-inner {
  display: flex;
  justify-content: center;
}

.Food {
  margin-top: 5em;
  align-items: center;
  background-color: lightseagreen;
  padding-bottom: 7em;
}

.FoodCard {
  width: 410px;
  background-color: peachpuff;
  border-radius: 8px;
  padding: 12px;
  margin-right: 10px;
  margin-left: 10px;
}

.FoodCard img {
  width: 100%;
}

.FoodText {
  padding-top: 1.5em;
}

.FoodText h3 {
  font-size: 3em;
  text-align: center;
}

.FoodText p {
  font-size: 1.5em;
  padding-top: 0.5em;
}

.FormContent {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  padding-bottom: 4em;
}

.Content {
  display: flex;
  margin-right: 25px;
  align-items: center;
}

.Content p {
  margin-right: 10px;
}

.BlockTimer {
  background-color: mediumaquamarine;
  padding-top: 3em;
  padding-bottom: 0.8em;
}

.TimeOver {
  display: flex;
  justify-content: center;
}

.Time {
  width: 70px;
  height: 100px;
  background-color: white;
  text-align: center;
  font-size: 2em;
  margin-left: 1em;
  border: 3px solid black;
}

.BlockTimer p {
  font-size: 2em;
  padding-top: 15px;
}

.ModalForm {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /* см. ниже */
  align-items: center;
  z-index: 99;
  padding: 30px 0;
  background: rgba(187, 189, 59, 0.808);
}

.ModalForm h3 {
  font-size: 2em;
}

.ModalContent {
  margin-top: 2em;
}

.color {
  background-color: blanchedalmond;
}

.wrap {
  justify-content: center;
  display: flex;
}

.Arrow {
  margin: auto;
}

.Arrow img {
  width: 100px;
}

.right img {
  transform: scale(-1, 1);
}

#gender h3 {
  text-align: center;
  font-size: 2em;
}

.chooseGender {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.sex {
  border: 1px solid black;
  padding: 1em;
  background-color: wheat;
  border-radius: 5%;
  margin: 0.5em;
}

.active {
  background-color: rgb(159, 221, 159);
}

.FavoriteEat_meow {
  padding-bottom: 0.4em;
}

.MeowData form {
  display: flex;
  justify-content: center;
}

.MeowData {
  margin-top: 1.5em;

}

.inputData {
  margin: 0.5em;
}

.inputData input {
  width: 15em;
  height: 3em;
}
.alcoLevel{
  margin-top: 1em;
}
.resultMeow{
  font-size: 5em;
  padding: 0.5em;
}
.sex:hover{
  cursor: pointer;
}